HOSTNAME=localhost
PORT=8080
ENVIRONMENT=dev
JWT_SECRET_KEY=<YOUR_KEY>
JWT_EXPIRE=24h

ADMIN_USERNAME=admin@email.com
ADMIN_PASSWORD=adminpassword

DB_NAME=airehab
DB_USER=airehab
DB_PASSWORD=<YOUR_PASSWORD>

LOG_PATH=logs/
BASE_PATH_UPLOADS=uploads/