/* app global css */

:root {
    --layout-bg: #eceff1;
    --layout-color: '#263238';
}

.m-width {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.layout-theme {
    background-color: var(--layout-bg);
    color: var(--layout-color);
}

.layout-secondary {
    color: var(--layout-color);
}

.list-line {
    border: 1px dashed rgba(0, 0, 0, 0.12);
    height: 1px;
    width: 100%;
    margin-top: 20px;
}
.line-desc {
    padding: 10px;
    min-width: fit-content;
}

.patientsList, .sessionsList, .prompts {
    width: 100%;
    margin: 0 auto;
}