/* app global css */

.m-width {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.list-line {
    border: 1px dashed rgba(0, 0, 0, 0.12);
    height: 1px;
    width: 100%;
    margin-top: 20px;
}
.line-desc {
    padding: 10px;
    min-width: fit-content;
}